html, body, h1 {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #DCDCDC;
}
button, input {
  min-width: 30vh;
  min-height: 5vh;
  border-radius: 10px;
  font-weight: bold;
  color: #696969;
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
button:hover {
  background-color: #696969;
  color: #DCDCDC;
  border: 2px solid rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
  transition: 2s;
}
input[type="search"], textarea {
  background-color: #DCDCDC;
}
table th {
  padding: 2vh;
}
.popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup-content {
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
  background-color: rgba(105, 105, 105, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #DCDCDC;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.popup-container a {
  align-self: flex-end;
  text-decoration: none;
  color: #696969;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.popup-container a:hover {
  color: #696969;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
  transform: scale(0.9);
  transition: 2s;
}
.popup h3 {
  color: #696969;
}
.user-list {
  padding: 2vh;
}
.user-list table {
   width: 100%;
   border-collapse: collapse;
   border-spacing: 0;
   border: 0;
}

.user-list td {
  text-align: center;
}

.user-list img {
  border-radius: 50%;
  border: 3px solid #ffffff;
}
.user-tr a {
  font-size: 50px;
  font-weight: bold;
  color: #696969;
  text-decoration: none;
}
.dropdown-tr div:first-child {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.dropdown-tr ul, li {
  list-style-type: none;
  text-align: left;
}
.dropdown-tr h2 {
  color: #696969;
}
.hidden {
  display: none;
}
